@charset "UTF-8";


/* フォームのなかの文字 白だと見えねぇーー */
.yoyaku-form select{
  color: black;
}
.yoyaku-form option{
  color: black;
}
.yoyaku-form input{
  color: black;
}
.yoyaku-form button{
  color: black;
}


